# development or production
NODE_ENV=

PORT=8000
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=KcuFwvQky1pgETvFytWLdEYvNXapDK
JWT_EXPIRES_IN=1h

REDIS_URL=redis://:password_redis@host_redis_kamu:6379